<h2>Bowling Score</h2>
<%= form_tag calculate_path do %>
  <p>
  <div><%= label_tag :input, 'Please input a string of space separated numbers:' %><div>
  <div><%= text_field_tag :score_list %><div>
  <div><%= submit_tag 'Get Score' %><div>
  </p>
<% end %>

